#external_player_notification {
    position: absolute;
    top: -40px;
    width: 100%;
    text-align: center;
    z-index: 9999999999;
    transition: all 1s ease-in-out;
}

#external_player_notification span {
    font-size: 1.5em;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
